{% extends 'base.html.twig' %}

{% block title %}Home - Purple Social{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<section class="connect-container">
   <header class="connect-header">
    <div class="logo">innovmatch</div>
<button class="custom-button primary">Sign in</button>

</header>
<main class="main-content">
            <h2 class="institution">HONORIS UNITED UNIVERSITIES</h2>
            <p class="welcome-text">Welcome to</p>
            <h1 class="main-title">innovmatch</h1>
            <button class="cta-button" onclick="handleGetStarted()">GET STARTED</button>
        </main>

{% endblock %}