.sidebar {
  width: 200px;
  height: 100vh;
  
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000000;
  border-top-right-radius: 20px;
  border-right: 2px solid #999999;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  
}

.sidebar-menu li a {  
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 15%;
}

.sidebar-menu li a i {
  margin-right: 10px;
}

.sidebar-menu li:hover {
  background-color: white;
  transition: 0.3s;
}
.white-text {
  color: #53348D;
  font-weight: bold;
}
.sidebar-menu li:hover .white-text {
color: #53348D;
}