.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #F3F4F6;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
    border-radius: 15%;
    
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 15px 20px;
    
  }
  
  .sidebar-menu li a {
    color: #3D3D3D;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 15%;
  }
  
  .sidebar-menu li a i {
    margin-right: 10px;
  }
  
  .sidebar-menu li:hover {
    background-color: #5a1db5;
    transition: 0.3s;
  }