{% extends 'base.html.twig' %}

{% block title %}Home - Purple Social{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/retour.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}



{% block body %}  

   
<div class="retour-box">
        <h2>Retour</h2>
        <form>
            <label for="id_retour">ID Retour :</label>
            <input type="number" id="id_retour" name="id_retour" required>

            <label for="description">Description :</label>
            <input type="text" id="description" name="description" required>

            <label for="typeRetour">Type de Retour :</label>
            <input type="text" id="typeRetour" name="typeRetour" required>

            <label for="tauxRendement">Taux de Rendement :</label>
            <input type="number" id="tauxRendement" name="tauxRendement" required>

            <label for="date_deadline">Date DeadLine :</label>
            <input type="date" id="date_deadline" name="date_deadline" required>

            <label for="status">Status :</label>
            <input type="text" id="status" name="status" required>

            <button type="submit">Envoyer</button>
        </form>
    </div>
{% endblock %}
