{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
<div class="sidebar">
    <ul class="sidebar-menu">
        <li><a href="#" class="white-text"><i class="fas fa-home"></i> Accueil</a></li>
        <li><a href="#" class="white-text"><i class="fas fa-user"></i> Profil</a></li>
        <li><a href="#" class="white-text"><i class="fas fa-envelope"></i> Messages</a></li>
        <li><a href="#" class="white-text"><i class="fas fa-cog"></i> Paramètres</a></li>
        <li><a href="#" class="white-text"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
    </ul>
</div>